.bodyOfTank
{ 
	position: absolute;
	height:50px; 
	width:50px; 
	background-color: blue; 
	border: solid #999 2px;
	text-align: center;
}
.headOfTank
{
	position: relative;
	left: 17px;
	top: 17px;
	border-radius: 13px;
	background: blue;
	border: solid #000 1px;
	width: 15px;
	height: 15px;
}
.canionOfTank
{
	position: absolute;
	left: -10px;
	top: 22px;
	background: blue;
	border: solid #000 1px;
	width: 26px;
	height: 5px;
}

.ball
{
	position: absolute;
	left: -15px;
	top: 22px;
	width: 7px;
	height: 7px;
	background: orange;
	border-radius: 5px;
}

.light
{ 
	height:3px; 
	width:20px; 
	background-color:#D9D9D9; 
	/*opacity:0.2;*/
}

.lightOff
{ 
	height:3px; 
	width:20px; 
	background-color:#b3b3b3; 
	/*opacity:0.2;*/
}

#court
{
	position: absolute;
	left: 100px;
	top: 101px;
	width: 600px;
	height: 500px;
	/*background: #cccccc;*/
	border: solid 1px black;
	background-image: url("Img/Military Background 1.jpg");
	background-size: 100% 100%;
}


#headCourt
{
	position: absolute;
	left: 100px;
	top: 50px;
	width: 600px;
	height: 50px;
	background: #cccccc;
	border: solid 1px black;
}

#player
{
	position: absolute;
	left: 50px;
	top: 5px;	
	height: 20px;
	text-align: center;
}

#playerText
{
	font-family: Arial;
	font-size: 14px;	
}

#reset
{
	position: absolute;
	left: 290px;
	top: 14px;	
	width: 50px;
	height: 20px;		
}

#computer
{
	position: absolute;
	left: 450px;
	top: 5px;	
	text-align: center;
	height: 20px;
}

#computerText
{
	font-family: Arial;
	font-size: 14px;
}

#testClick
{
	position: absolute;
	left: 0px;
	height: 0px;
	color: red;
}